USE [master]
GO
/****** Object:  Database [practice_task]    Script Date: 21-07-2022 12:13:23 ******/
CREATE DATABASE [practice_task]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practice_task', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practice_task.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'practice_task_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practice_task_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practice_task].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practice_task]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOOK_ID] [varchar](10) NOT NULL,
	[BOOK_NAME] [varchar](20) NULL,
	[AUTHOR_ID] [varchar](10) NULL,
	[PRICE] [numeric](18, 0) NULL,
	[PUBLISHER_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPPING_CART]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPPING_CART](
	[SHOPPING_CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [varchar](10) NULL,
	[PRICE] [numeric](18, 0) NULL,
	[DATE] [date] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SHOPPING_CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [varchar](10) NOT NULL,
	[CUSTOMER_NAME] [varchar](20) NULL,
	[STREET_ADDRESS] [varchar](30) NULL,
	[CITY] [varchar](20) NULL,
	[PHONE_NUMBER] [numeric](10, 0) NULL,
	[CREDIT_CARD_NUMBER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [varchar](10) NULL,
	[SHIPPING_TYPE] [varchar](20) NULL,
	[DATE_OF_PURCHASE] [date] NULL,
	[SHOPPING_CART_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CUSTOMER_HISTORY]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CUSTOMER_HISTORY] 
AS 
SELECT C.CUSTOMER_ID, C.CUSTOMER_NAME, B.BOOK_ID, O.DATE_OF_PURCHASE, S.SHOPPING_CART_ID
FROM ((
(ORDER_DETAILS AS O RIGHT JOIN CUSTOMER AS C ON O.CUSTOMER_ID = C.CUSTOMER_ID) 
LEFT JOIN SHOPPING_CART AS S ON O.SHOPPING_CART_ID = S.SHOPPING_CART_ID)
LEFT JOIN BOOKS AS B ON S.BOOK_ID = B.BOOK_ID
);
GO
/****** Object:  Table [dbo].[SHIPPING_TYPE]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPING_TYPE](
	[SHIPPING_TYPE] [varchar](20) NOT NULL,
	[SHIPPING_PRICE] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SHIPPING_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CUSTOMER_DETAILS]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CUSTOMER_DETAILS] 
AS 
SELECT C.CUSTOMER_NAME, C.STREET_ADDRESS + ', ' + C.CITY AS ADDRESS, O.SHIPPING_TYPE, O.DATE_OF_PURCHASE, S.SHIPPING_PRICE
FROM (
(ORDER_DETAILS AS O INNER JOIN CUSTOMER AS C ON O.CUSTOMER_ID = C.CUSTOMER_ID) 
INNER JOIN SHIPPING_TYPE AS S ON O.SHIPPING_TYPE = S.SHIPPING_TYPE
);
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[AUTHOR_ID] [varchar](10) NOT NULL,
	[AUTHOR_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREDIT_CARD_DETAILS]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREDIT_CARD_DETAILS](
	[CREDIT_CARD_NUMBER] [varchar](10) NOT NULL,
	[CREDIT_CARD_TYPE] [varchar](10) NULL,
	[EXPIRY_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CREDIT_CARD_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[PUBLISHER_ID] [varchar](10) NOT NULL,
	[PUBLISHER_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PUBLISHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_HISTORY]    Script Date: 21-07-2022 12:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_HISTORY](
	[CUSTOMER_ID] [varchar](10) NULL,
	[ORDER_ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AUTHOR] ([AUTHOR_ID], [AUTHOR_NAME]) VALUES (N'A001', N'CHHAGAN')
INSERT [dbo].[AUTHOR] ([AUTHOR_ID], [AUTHOR_NAME]) VALUES (N'A002', N'MAGAN')
GO
INSERT [dbo].[BOOKS] ([BOOK_ID], [BOOK_NAME], [AUTHOR_ID], [PRICE], [PUBLISHER_ID]) VALUES (N'B001', N'THE SECRET', N'A001', CAST(350 AS Numeric(18, 0)), N'P001')
INSERT [dbo].[BOOKS] ([BOOK_ID], [BOOK_NAME], [AUTHOR_ID], [PRICE], [PUBLISHER_ID]) VALUES (N'B002', N'THE MILLANION', N'A002', CAST(400 AS Numeric(18, 0)), N'P001')
INSERT [dbo].[BOOKS] ([BOOK_ID], [BOOK_NAME], [AUTHOR_ID], [PRICE], [PUBLISHER_ID]) VALUES (N'B003', N'I AM', N'A002', CAST(350 AS Numeric(18, 0)), N'P002')
GO
INSERT [dbo].[CREDIT_CARD_DETAILS] ([CREDIT_CARD_NUMBER], [CREDIT_CARD_TYPE], [EXPIRY_DATE]) VALUES (N'C001', N'Rewards', CAST(N'2004-11-20' AS Date))
INSERT [dbo].[CREDIT_CARD_DETAILS] ([CREDIT_CARD_NUMBER], [CREDIT_CARD_TYPE], [EXPIRY_DATE]) VALUES (N'C002', N'Secured', CAST(N'2020-01-12' AS Date))
INSERT [dbo].[CREDIT_CARD_DETAILS] ([CREDIT_CARD_NUMBER], [CREDIT_CARD_TYPE], [EXPIRY_DATE]) VALUES (N'C003', N'Rewards', CAST(N'2022-07-20' AS Date))
GO
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [STREET_ADDRESS], [CITY], [PHONE_NUMBER], [CREDIT_CARD_NUMBER]) VALUES (N'CUST001', N'Aahva', N'Shanti nagar', N'ahmadabad', CAST(9874694234 AS Numeric(10, 0)), N'C001')
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [STREET_ADDRESS], [CITY], [PHONE_NUMBER], [CREDIT_CARD_NUMBER]) VALUES (N'CUST002', N'Aarav', N'laxmi nagar', N'vadodara', CAST(8974694234 AS Numeric(10, 0)), N'C002')
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [STREET_ADDRESS], [CITY], [PHONE_NUMBER], [CREDIT_CARD_NUMBER]) VALUES (N'CUST003', N'KayrA', N'vastu laxmi', N'surat', CAST(8946621382 AS Numeric(10, 0)), N'C001')
GO
SET IDENTITY_INSERT [dbo].[ORDER_DETAILS] ON 

INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [CUSTOMER_ID], [SHIPPING_TYPE], [DATE_OF_PURCHASE], [SHOPPING_CART_ID]) VALUES (1, N'CUST001', N'International air', CAST(N'2005-02-12' AS Date), 1)
INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [CUSTOMER_ID], [SHIPPING_TYPE], [DATE_OF_PURCHASE], [SHOPPING_CART_ID]) VALUES (2, N'CUST001', N'FTL Shipping', CAST(N'2010-12-10' AS Date), 2)
INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [CUSTOMER_ID], [SHIPPING_TYPE], [DATE_OF_PURCHASE], [SHOPPING_CART_ID]) VALUES (3, N'CUST003', N'RS Shipping', CAST(N'2006-04-02' AS Date), 2)
SET IDENTITY_INSERT [dbo].[ORDER_DETAILS] OFF
GO
INSERT [dbo].[PUBLISHER] ([PUBLISHER_ID], [PUBLISHER_NAME]) VALUES (N'P001', N'PAVAN')
INSERT [dbo].[PUBLISHER] ([PUBLISHER_ID], [PUBLISHER_NAME]) VALUES (N'P002', N'MANAN')
GO
INSERT [dbo].[SHIPPING_TYPE] ([SHIPPING_TYPE], [SHIPPING_PRICE]) VALUES (N'FTL Shipping', CAST(1000 AS Numeric(18, 0)))
INSERT [dbo].[SHIPPING_TYPE] ([SHIPPING_TYPE], [SHIPPING_PRICE]) VALUES (N'Intermodal', CAST(1200 AS Numeric(18, 0)))
INSERT [dbo].[SHIPPING_TYPE] ([SHIPPING_TYPE], [SHIPPING_PRICE]) VALUES (N'International air', CAST(5000 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[SHOPPING_CART] ON 

INSERT [dbo].[SHOPPING_CART] ([SHOPPING_CART_ID], [BOOK_ID], [PRICE], [DATE], [QUANTITY]) VALUES (1, N'B001', CAST(410 AS Numeric(18, 0)), CAST(N'2002-11-20' AS Date), 3)
INSERT [dbo].[SHOPPING_CART] ([SHOPPING_CART_ID], [BOOK_ID], [PRICE], [DATE], [QUANTITY]) VALUES (2, N'B002', CAST(481 AS Numeric(18, 0)), CAST(N'2009-11-20' AS Date), 8)
INSERT [dbo].[SHOPPING_CART] ([SHOPPING_CART_ID], [BOOK_ID], [PRICE], [DATE], [QUANTITY]) VALUES (3, N'B003', CAST(810 AS Numeric(18, 0)), CAST(N'2012-01-08' AS Date), 5)
SET IDENTITY_INSERT [dbo].[SHOPPING_CART] OFF
GO
ALTER TABLE [dbo].[CREDIT_CARD_DETAILS] ADD  DEFAULT (getdate()) FOR [EXPIRY_DATE]
GO
ALTER TABLE [dbo].[SHOPPING_CART] ADD  DEFAULT (getdate()) FOR [DATE]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[AUTHOR] ([AUTHOR_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([PUBLISHER_ID])
REFERENCES [dbo].[PUBLISHER] ([PUBLISHER_ID])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([CREDIT_CARD_NUMBER])
REFERENCES [dbo].[CREDIT_CARD_DETAILS] ([CREDIT_CARD_NUMBER])
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD FOREIGN KEY([SHIPPING_TYPE])
REFERENCES [dbo].[SHIPPING_TYPE] ([SHIPPING_TYPE])
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD FOREIGN KEY([SHOPPING_CART_ID])
REFERENCES [dbo].[SHOPPING_CART] ([SHOPPING_CART_ID])
GO
ALTER TABLE [dbo].[PURCHASE_HISTORY]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_HISTORY]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER_DETAILS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[SHOPPING_CART]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([BOOK_ID])
GO
USE [master]
GO
